# first API request

Import library

In [1]:
import requests
import json
import pandas as pd

Make a get request to get the latest position  of the space station

In [2]:
response = requests.get("http://api.open-notify.org/astros.json")

Print the status of the code response - Should return 200

In [3]:
print(response.status_code)

200

Extract data from the this API using json

In [4]:
response = requests.get("http://api.open-notify.org/astros.json")
data = response.json()
print(data)

{'message': 'success', 'people': [{'name': 'Cai Xuzhe', 'craft': 'Tiangong'}, {'name': 'Chen Dong', 'craft': 'Tiangong'}, {'name': 'Liu Yang', 'craft': 'Tiangong'}, {'name': 'Sergey Prokopyev', 'craft': 'ISS'}, {'name': 'Dmitry Petelin', 'craft': 'ISS'}, {'name': 'Frank Rubio', 'craft': 'ISS'}, {'name': 'Nicole Mann', 'craft': 'ISS'}, {'name': 'Josh Cassada', 'craft': 'ISS'}, {'name': 'Koichi Wakata', 'craft': 'ISS'}, {'name': 'Anna Kikina', 'craft': 'ISS'}], 'number': 10}

Create a dataframe containing final data

In [5]:
df =pd.DataFrame(data)
df

   message                                        people  number
0  success    {'name': 'Cai Xuzhe', 'craft': 'Tiangong'}      10
1  success    {'name': 'Chen Dong', 'craft': 'Tiangong'}      10
2  success     {'name': 'Liu Yang', 'craft': 'Tiangong'}      10
3  success  {'name': 'Sergey Prokopyev', 'craft': 'ISS'}      10
4  success    {'name': 'Dmitry Petelin', 'craft': 'ISS'}      10
5  success       {'name': 'Frank Rubio', 'craft': 'ISS'}      10
6  success       {'name': 'Nicole Mann', 'craft': 'ISS'}      10
7  success      {'name': 'Josh Cassada', 'craft': 'ISS'}      10
8  success     {'name': 'Koichi Wakata', 'craft': 'ISS'}      10
9  success       {'name': 'Anna Kikina', 'craft': 'ISS'}      10